# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Databricks
.databricks/
dbfs/
*.dbc

# Notebooks
.ipynb_checkpoints/
*.ipynb

# VSCode
.vscode/
.history/

# Environment files
.env
.venv/
venv/
.envrc

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

